<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntegerFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1DD1EE020D18BBE001DFA5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1DD1EF420D18BBF001DFA5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1DD1EFF20D18BBF001DFA5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
